FRONTEND_URL=http://localhost:5173

JWT_SECRET= # add your JWT secret here

PORT=9999

DATABASE_URL= # add your postgresql database URL here
GOOGLE_CLIENT_ID= # your_google_client_id
GOOGLE_CLIENT_SECRET= # your_google_client_secret

# Email Configuration (for email verification)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER= # your-email@gmail.com
SMTP_PASS= # your-app-password-here (generate from Google App Passwords)

# Client URL (for email verification links)
CLIENT_URL=http://localhost:5173

AI_KEY= asd
AI_MODEL= gpt-3.5-turbo
