FRONTEND_URL=http://localhost:5173

JWT_SECRET= # add your JWT secret here

PORT=9999

DATABASE_URL= # add your postgresql database URL here
GOOGLE_CLIENT_ID= # your_google_client_id
GOOGLE_CLIENT_SECRET= # your_google_client_secret

AI_KEY= asd
AI_MODEL= gpt-3.5-turbo
